<div class="dialog-tabs-item">
    <div class="_formWrap">
        <div class="_formBlock _equal">
            <div class="_animateSelectBox _withInfo">
                <span class="_selectTitle">Center</span>
                <div class="_newSelectListWrap">
                    <a id="studentCenter"
                       name="center"
                       class="current-selected"
                       data-id=""
                       href="javascript:;">Select Center</a>
                </div>
            </div>
        </div>
        <div class="_formBlock _equal">
            <div class="_animateSelectBox _withInfo">
                <span class="_selectTitle">Course</span>
                <div class="_newSelectListWrap">
                    <a id="studentCourse"
                       name="course"
                       class="current-selected"
                       data-id=""
                       href="javascript:;">Select Course</a>
                </div>
            </div>
        </div>
        <div class="_formBlock _equal">
            <div class="_animateSelectBox _withInfo">
                <span class="_selectTitle">Batch</span>
                <div class="_newSelectListWrap">
                    <a id="studentBatch"
                       name="batch"
                       class="current-selected"
                       data-id=""
                       href="javascript:;">Select Batch</a>
                </div>
            </div>
        </div>
        <div class="_formBlock _equal">
            <div class="_animateSelectBox _withInfo">
                <button class="btn btnBlue searchBtn">Search</button>
            </div>
        </div>
    </div>
</div>