<% vacationCollection.forEach(function(vacation, index){ %>
<tr data-id="<%=vacation._id%>">
    <td class="employee" data-content="employee" data-type="employeeSelect">
        <span><%=vacation ? vacation.studentName + ' ' + (vacation.lastName ? vacation.lastName : '') : ''%></span>
    </td>
    <% if (vacation.vacArray) { %>
    <% for (var i=0; i<=vacation.vacArray.length - 1; i++) { %>
    <%=vacation.vacArray[i] ? '<td data-dayID="' + (i) + '" class="editable ' + vacation.vacArray[i] + ' selectedType" data-content="vacType">' + vacation.vacArray[i] + '<input type="text" readonly value="' + vacation.vacArray[i] + '"></td>' : '<td data-dayID="' + (i) + '" class="editable" data-content="vacType"><input type="text" readonly value=""></td>'%>
    <% } } else { %>
    <% for (var i=0; i<=vacation.daysCount - 1; i++) { %>
    <td data-dayID="<%=i%>" class="editable " data-content="vacType">
        <input type="text" readonly value=""></td>
    <% } }%>
    <td class="totalDays">
        <%=vacation.countVacationDays%>
    </td>
</tr>
<% }) %>
