<h3>Leads</h3>
<%
var studentCoun = false;
if(App.currentUser.profile._id == 1524552351000) {
studentCoun = true;
}%>

<div id="createBtnHolder" class="btnsBlock">
    <div id="dateFilter" class="vocationFilter _filterDropDownWrap"></div>
    <%if(!studentCoun) { %>
        <% if(data.create) { %>
            <a href="#home/action-<%=contentType%>/Create" class="btn blue slim icon-plus" title="Create" id="top-bar-createBtn">New</a>
            <a href="/leads/bulk/data" class="btn blue slim icon-download" title="Download Template" download id="download"> Download Template</a>
            <a  class="btn blue slim icon-plus" title="Create" id="uploadBtn">Upload</a>
            <a href="javascript:;" class="btn blue slim icon-plus" title="Remove" id="bulkBtn">Bulk Assign</a>
            <a title="Error logs" class="btn blue slim"  id="errLogBtn">Error Logs</a>
        <% } %>
        <% if(data.delete) { %>
            <a href="javascript:;" class="btn blue slim" title="Remove" id="top-bar-deleteBtn">Delete</a>
        <% } %>
    <% } %>
</div>


<div id="template-switcher" class="template-switcher right" style="margin-right: 25px">
    <ul class="btn-list">
        <li title="Detail view">
            <a href="javascript:;"
               class="changeContentView icon-rect2 <%= (viewType == 'datelist') ? 'selected' : ''%>"
               data-view-type="datelist"
               id="dateListBtn"></a>
        </li>
        <li title="List view">
            <a href="javascript:;"
               class="changeContentView icon-list5 <%= (viewType == 'list') ? 'selected' : ''%>"
               data-view-type="list"
               id="listBtn"></a>
        </li>
    </ul>
</div>