<div class="_tableLettersWrap">
    <div id="searchContainer"></div>
    <div class="_tableEmployeeWrap">
        <table class="list stripedList">
            <colgroup>
                <col width="5%">
                <col width="10%">
                <col width="12%">
                <col width="10%">
                <col width="15%">
                <col width="15%">
                <col width="6%">
                <col width="9%">
            </colgroup>
            <thead>
            <tr>
                <th class="centerCell">
                    <label class="_customCHeckbox">
                        <input type="checkbox" id="checkAll"/>
                        <span></span>
                    </label>
                </th>
                <th class="oe_sortable text-left"
                    data-sort="name.last">Name
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable text-left">Email
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable text-left">Personal Mobile
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable text-left">Center
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable text-left">Course
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable">Status
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable"
                    data-sort="createdBy.date">Created By
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
            </tr>
            </thead>
            <tbody id="listTable" class="enableTableOdd"></tbody>
        </table>
    </div>
</div>