<div class="form-holder _newForm">
    <form method="post" action="" id="invoiceForm">
        <h4 class="_dialogMainTitle">New Practice Exam</h4>
        <div class="_formWrap">
            <div class="_formBlock _equal">
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate "
                           id="name"
                           required
                           value=""/>
                    <label class="_animate">Name</label>
                </div>
            </div>
            <div class="_formBlock _equal">
                <div class="_animateInputBox _withInfo">
                    <input type="number"
                           name="examDuration"
                           class="_animate"
                           id="examDuration"
                    />
                    <span class="_staticLabel">Duration (mins)</span>
                </div>
            </div>
        </div>
        <div class="_formWrap">
            <div class="_formBlock _equal">
                <div class="_animateInputBox">
                    <input type="number"
                           name="questionMarks"
                           class="_animate"
                           id="questionMarks"
                    />
                    <span class="_staticLabel">Each Question Marks</span>
                </div>
            </div>
            <div class="_formBlock _equal">
                <div class="_animateInputBox">
                    <input type="number"
                           name="nagetiveMarks"
                           class="_animate"
                           id="nagetiveMarks"
                    />
                    <span class="_staticLabel">Negative Marks</span>
                </div>
            </div>
        </div>
        <div class="_formWrap _enlargedItemMargin newItem">
            <div class="_formBlock _equal">
                <div class="container">
                    <div class="canReadAndWrite row">
                        <div class="_circleRadioRadianceWrap col m-6">
                            <label class="_customCHeckbox">
                                <input type="checkbox" name="autoCorrect" checked="" class="checkbox" id="autoCorrect"/>
                                <span class="clr-black">&nbsp;Auto Correct</span>
                            </label>
                        </div>
                        <div class="_circleRadioRadianceWrap col m-6" style="left: 10px">
                            <label class="_customCHeckbox">
                                <input type="checkbox" name="canReview" checked="" class="checkbox" id="canReview"/>
                                <span class="clr-black">&nbsp;Can Review</span>
                            </label>
                        </div>
                    </div>
                </div><br/><br/>
                <div class="_formWrap">
                    <div class="_formBlock _equal" style="margin-right: 20px; margin-left: -25px;">
                        <div class="canReadAndWrite row">
                                <div class="_animateSelectBox col m-12">
                                    <span class="_selectTitle margin-left-15">Course</span>
                                    <div class="_newSelectListWrap">
                                        <a id="course"
                                           name="course"
                                           class="current-selected"
                                           href="javascript:;">Select</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="_formBlock _equal" style="width: 290px; left: 20px">
                        <div class="canReadAndWrite row">
                            <div class="_animateSelectBox col m-12">
                                <span class="_selectTitle margin-left-15">Subject</span>
                                <div class="_newSelectListWrap">
                                    <a id="subject"
                                       name="subject"
                                       class="current-selected"
                                       href="javascript:;">Select</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_formWrap">
                        <div class="_formBlock _equal">
                            <div class="canReadAndWrite row">
                                <div class="_animateSelectBox col m-12" style="right: 25px">
                                    <span class="_selectTitle margin-left-15">Topics</span>
                                    <div class="_newSelectListWrap">
                                        <a id="topics"
                                           name="topics"
                                           class="current-selected"
                                           href="javascript:;">Select</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col m-6" style="margin-left: 15px;">
                            <div class="_animateInputBox">
                                <input type="number"
                                       class="_animate "
                                       id="questions"
                                       name="questions"
                                       maxlength="48"
                                       value=""/>
                                <label class="_animate">No Of Questions</label>
                            </div>
                        </div><br/><br/>
                </div><br/><br/>
                <div class="container" style="margin-left: 100px">
                    <div class="canReadAndWrite row">
                        <div class="_circleRadioRadianceWrap col m-4">
                            <div class="_tipsWrap">
                                <label for="ManualQuestions" class="">Manual</label>
                                <input type="radio"
                                       name="questionType"
                                       id="ManualQuestions"
                                       class="_circleRadioRadiance"
                                       value="ManualQuestions"
                                >
                                <label for="ManualQuestions"
                                       class="_circleRadioRadianceLabel">
                                </label>
                            </div>
                        </div>
                        <div class="_circleRadioRadianceWrap col m-4">
                            <div class="_tipsWrap">
                                <label for="WeightageBase" class="">Weightage</label>
                                <input type="radio"
                                       name="questionType"
                                       id="WeightageBase"
                                       value="WeightageBase"
                                       class="_circleRadioRadiance">
                                <label for="WeightageBase"
                                       class="_circleRadioRadianceLabel">
                                </label>
                            </div>
                        </div>
                        <div class="_circleRadioRadianceWrap col m-4">
                            <div class="_tipsWrap">
                                <label for="Random" class="">Random</label>
                                <input type="radio"
                                       name="questionType"
                                       id="Random"
                                       value="Random"
                                       class="_circleRadioRadiance">
                                <label for="Random"
                                       class="_circleRadioRadianceLabel">
                                </label>
                            </div>
                        </div>
                    </div>
                </div><br/>
                <div class="container">
                    <div class="canReadAndWrite manualQuestions hide row">
                        <div class="col m-6">
                            <div class="_bundleListTitle">Questions List:</div>
                            <ul id='questionList' class="_productsForBundle"></ul>
                        </div>
                        <div class="col m-6">
                            <div class="_bundleListTitle">Select Questions:</div>
                            <ul id='productsBundle' class="_productsBundle"></ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="canReadAndWrite weightQuestions hide row">
                        <div class="inner-holder">
                            <div class="workflow-list-wrapper left">
                                <ul class="workflow-list"></ul>
                            </div>
                            <div id="workflowAccord" class="left">
                                <div id="workflowNames"></div>
                                <div id="details" class="workflow-details">
                                    <div id="workflowSubAccord" class="left">
                                        <div id="sub-details" class="workflow-details">
                                            <div class="listWorkflow">
                                                <div id="workflows"></div>
                                                <div id="addedStatus"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br/><br/>
                <div class="container">
                    <div class="canReadAndWrite generatedQuestions hide row">
                        <div class="col m-12">
                            <div class="_bundleListTitle">Questions</div>
                            <ul id='generatedQues' class="_productsForBundle"></ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="canReadAndWrite randomQuestions hide row">
                    </div>
                </div>
        </div>
        </div>
    </form>
</div>