<div class="form-holder _newForm">
    <form method="post" action="" class="_stockCorrectionForm" id="stockCorrection">
        <h4 class="_dialogMainTitle">New Center Course</h4>
        <div class="_formWrap">
            <div class="_formBlock _equal">
                <div class="_animateSelectBox _withInfo">
                    <span class="_selectTitle">Center</span>
                    <div class="_newSelectListWrap">
                        <a id="franchiseCenter"
                           class="current-selected"
                           data-id=""
                           href="javascript:;">Select Center</a>
                        </a>
                    </div>
                    <span class="tips icon-info" data-id="center"></span>
                </div>
            </div>
            <div class="_formBlock">
                <div id="productItemsHolder"></div>
            </div>
        </div>
    </form>
</div>