<div class="_breadcrunmbs">
    <span class="_breadcrunmbItem">Subject Management</span>
</div>
<div class="form-holder tabsHolder">
    <div class="inner">
        <ul class="dialog-tabs _forOverview">
            <!--<li>
                <a href="javascript:;" class="" id="course">Title</a>
            </li>-->
            <li>
                <a href="javascript:;" class="" id="title">Title Association</a>
            </li>
            <li>
                <a id="subjects" class="hide" href="javascript:;">Subjects</a>
            </li>
            <li>
                <a id="subjectTopics" class="hide" href="javascript:;">Chapter</a>
            </li>
            <li>
                <a id="subTopics" class="" href="javascript:;">Subtopics</a>
            </li>
            <!--<li>
                <a id="topics" class="hide" href="javascript:;">Chapter Integration</a>
            </li>-->
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
            <!--<div class="dialog-tabs-item " id="courseTab">
            </div>-->
            <div class="dialog-tabs-item " id="titleTab">
            </div>
            <div class="dialog-tabs-item hide" id="subjectTab">
            </div>
            <div class="dialog-tabs-item hide" id="subjectTopicsTab">
            </div>
            <div class="dialog-tabs-item hide" id="subtopicsTab">
            </div>
            <!--<div class="dialog-tabs-item hide" id="topicsTab">
            </div>-->
        </div>
    </div>
</div>