<div class="form-holder _newForm">
    <form method="post" action="" id="invoiceForm" style="height: 470px;">
        <h4 class="_dialogMainTitle">Add Term Topics</h4>
        <div >
            <div class="_formWrap _enlargedItemMargin">
                <div class="_formBlock _equal">
                    <div class="_animateSelectBox _withInfo">
                        <span class="_selectTitle" style="font-size: 100%">Title</span>
                        <div class="_newSelectListWrap">
                            <a id="title"
                               name="title"
                               class="current-selected"
                               data-id=""
                               href="javascript:;">Select Title</a>
                        </div>
                    </div>
                    <div class="_animateSelectBox _withInfo">
                        <span class="_selectTitle" style="font-size: 100%">Term</span>
                        <div class="_newSelectListWrap">
                            <a id="term"
                               name="term"
                               class="current-selected"
                               data-id=""
                               href="javascript:;">Select Term</a>
                        </div>
                    </div>
                    <div class="_animateSelectBox _withInfo ">
                        <span class="_variantsLabel" style="color: #7eadcc">Topics</span>
                        <div id="topicBlocks" class="_variantsBlock _variantsTopics"  style="z-index: auto">
                            <div class="_checkCategoriesWrap">
                                <ul id="checkedTopics" class="_checkCategories"></ul>
                                <span id="showBtn1" class="_arrow"></span>
                            </div>
                            <ul id="topicCategories" class="_categoriesList"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>