<div class="_acountingTableWrap">
    <div class="_acountingTitleBlock _forOverview">
        <a href="javascript:;" class="btn blue slim icon-plus btnPositioned" title="Create"
           id="top-bar-createBtn">New</a>
    </div>
    <div class="_acountingTableBlock">
        <table class="list tableProjects tableFixed _currencyTable">

            <thead>
            <tr class="forToggle">
                <th>Center</th>
                <th>Batch</th>
                <th>Subject</th>
                <th>Course</th>
                <th>Faculity</th>
                <th>Topic</th>
                <th>Class Date</th>
                <th>Class Start Time</th>
                <th>Class End Time</th>
                <th>Class Duration</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody class="forToggle" id="currencyTable">
            </tbody>
        </table>
    </div>
</div>
