<div class="form-holder _newForm">
    <form method="post" action="" id="createJournalForm">
        <h4 class="_dialogMainTitle">New Course</h4>
        <div class="_formWrap">
            <div class="_formBlock">
                <div class="_animateInputBox _withInfo">
                    <input type="text"
                           class="_animate"
                           id="nameInput"
                           required
                           maxlength="25"/>
                    <label class="_animate">Course Name</label>
                    <span class="tips icon-info" data-id="nameInput"></span>
                </div>
                <div class="_animateInputBox _withInfo">
                    <input type="text"
                           class="_animate"
                           id="codeInput"
                           required
                           maxlength="25"/>
                    <label class="_animate">Course Code</label>
                    <span class="tips icon-info" data-id="codeInput"></span>
                </div>
                <div class="_animateInputBox _withInfo">
                    <input type="text"
                           class="_animate"
                           id="codeInput"
                           required
                           maxlength="25"/>
                    <label class="_animate">Course Status</label>
                    <span class="tips icon-info" data-id="codeInput"></span>
                </div>
                <div class="_animateSelectBox _withInfo">
                    <span class="_selectTitle">Credit Account</span>
                    <div class="_newSelectListWrap">
                        <a id="creditDd"
                           class="current-selected"
                           href="javascript:;">Select credit account</a>
                    </div>
                    <span class="tips icon-info" data-id="creditDd"></span>
                </div>
            </div>
        </div>
    </form>
</div>