<form class="form-horizontal form-validate" [formGroup]="templateForm" >
    <fieldset formGroupName="smsTemplate">
        <div class="form-group">
            <label class="control-label col-md-3">Notification Name <span class="text-danger">*</span></label>
            <div class="col-md-9">
                <input type="text" class="form-control" [ngModel]="title" required="required" placeholder="Enter Title" formControlName="title">
            </div>
        </div>
    </fieldset>

    <div class="form-group" >
        <label class="control-label col-md-3">Mobile Number </label>
        <div class="col-md-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-mobile2"></i></span>
                <input type="text" class="form-control"  placeholder="Mobile Number" formControlName="phoneNo" >
                <input type="hidden" class="form-control"  placeholder="Mobile Number" formControlName="notificationId" >
            </div>
            <label class="text-danger">Note :  Send messages for multiple mobile numbers by separating them with comma(,)</label>
        </div>
    </div>

        <div class="form-group" >
            <label class="control-label col-md-3">Search Users</label>
            <div class="col-md-9">
                <p-autoComplete field="suggestStudent" placeholder="Search Students" [(ngModel)]="texts" styleclass="wid100" formControlName="students" [suggestions]="results" (completeMethod)="search($event)" [multiple]="true"></p-autoComplete>
            </div>
            <!--<label class="control-label col-md-3">Employees & Students </label>-->
        </div>

    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-3">Select User Group(s)<span class="text-danger">*</span> </label>
            <div class="col-md-8 multi-select-full">
                <select #classSelect class="select-class"  multiple="multiple">
                </select>
            </div>
        </div>
    </fieldset>

    <fieldset formGroupName="smsTemplate">
        <div class="form-group">
            <label class="col-md-3 control-label">Message <span class="text-danger">*</span></label>
            <div class="col-md-9">
                <!-- Basic layout-->
                <textarea id="templateName" ng-trim="false" [maxlength]="900" formControlName="templateName" rows="3" cols="3" class="form-control hide-scroll" (keydown)="keyDown()" [ngModel]="template.template_message" required="required"></textarea><br/>
                <input hidden type="text" formControlName="templateTitle" [ngModel]="template_title" [value]="template.template_title">
                <span>{{currentText}} Characters</span> <span formControlname="count">({{count}} SMS) </span> |  <span> Characters Left : {{ charsLeft }}/900 </span><br/>
                <label class="text-danger">Note : Replace * with valid data</label>
            </div>
        </div>
    </fieldset>

    <div class="row form-horizontal">
        <div class="col-md-12" style="margin-left:81px;">
            <div class="form-group">
                <label class="col-sm-2 control-label" style="right:80px;">Attachments</label>
                <div class="col-sm-4">
                    <div class="uploader bg-info"><input type="file" accept=".xls,.xlsx,.jpg,.jpeg,.png,.txt,.doc,.docx,.xl,.pdf,.pptx,.gif,.html,.xml" class="file-styled" name="multiple" ng2FileSelect [uploader]="uploader" multiple><span class="filename" style="user-select: none;">Select File to Upload</span><span class="action" style="user-select: none;"><i class="icon-plus2"></i></span></div>
                    <span class="help-block">No.of Files Selected: {{ uploader?.queue?.length }}<ng-container *ngIf="notifyObj.attachments"><span class="text-pink-700">&nbsp;||&nbsp;</span><a id="viewAttachment" class="blink-text" (click)="viewAttachment()">view attachments</a></ng-container></span>
                </div>
                <label class="control-label col-md-2" style="left: 50px;" *ngIf="enable" >Channels
                </label>
                <div class="col-md-4" formGroupName="notify" *ngIf="enable">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-3 sms hide">
                                    <div class="form-group">
                                        <label class="checkbox-inline" style="font-size:12px;">
                                            <input  #sms type="checkbox">SMS
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 email hide">
                                    <div class="form-group">
                                        <label class="checkbox-inline" style="font-size:12px;">
                                            <input #email type="checkbox" class="emailChecked">Email
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 push hide">
                                    <div class="form-group">
                                        <label class="checkbox-inline" style="font-size:12px;">
                                            <input #push type="checkbox">App
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th width="30%">Name</th>
                    <th>Size</th>
                    <th width="15%">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td class="fc-title">{{ item.file.name }}</td>
                    <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                    <td>
                        <div class="progress progress-xxs" style="margin-bottom: 0;">
                            <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok text-success"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove text-danger"></i></span>
                    </td>
                    <td>
                        <!--<a class="icon-upload4 text-success" (click)="item.upload()" [ngClass]="{'disabled': item.isReady || item.isUploading || item.isSuccess}"></a>-->
                        <a class="fa fa-trash-o fa-lg text-danger" (click)="item.remove()"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr/>
            <div>
                <div class="content-group-sm">
                    <p class="text-semibold">Uploading Status</p>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-success"  [ngClass]="{'active progress-bar-striped': uploader.progress != 100}" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                    <span [ngClass]="{'text-success-800':uploader.progress > 0,'blink-text': uploader.progress == 100}">{{uploader.progress + '% Completed'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay-footer" style="margin-left:-40px;">
        <div class="right-align overlay-footer-content-rt">
            <button type="button" class="btn btn-sm btn-default" (click)="closeOverlay($event)">Close</button>
            <button *ngIf="enable" type="submit" id="Draft" (click)="saveNotification('Draft')" class="btn btn-primary btn-ladda btn-ladda-progress Draft" data-style="expand-right" data-spinner-size="20"><span class="ladda-label">Save as Draft</span></button>
            <button *ngIf="btnEnable" type="submit" id="Sent" (click)="saveNotification('Sent')" class="btn btn-primary btn-ladda btn-ladda-progress Sent" data-style="expand-right" data-spinner-size="20"><span class="ladda-label">Send</span></button>
        </div>
    </div>

</form>