<div class="form-holder _newForm <%= model.status ? '': ''%>">
    <form method="post" action="" id="invoiceForm">
        <h4 class="_dialogMainTitle">Student Notification</h4>
        <div class="_formWrap _enlargedItemMargin newItem">
            <div class="_formBlock _equal">
                <div class="_animateInputBox _withInfo">
                    <input type="text"
                           class="_animate read "
                           id="name-edit"
                           required
                           value="<%= model.title %>" <%= model.status ? 'readonly': ''%>/>
                    <label class="_animate">Title</label>
                    <span class="tips icon-info" data-id="name-edit"></span>
                </div>
                <div class="_animateInputBox _withInfo">
                    <div class="_templatePaymentInfo">
                        <div class="attachments"><div><div class="noteWrapper attachWrapper tree-view-box">

                            <div class="formTitle">
                                <label class="_animate"> </label>
                            </div>
                            <div id="treeview-edit" class="tree-view-structure select-disabled"></div>
                        </div>

                        </div></div>

                    </div>
                </div>
                <div class="_formWrap">
                    <div class="_formBlock counterWrap">
                        <div class="_animateTextareaBox counterEl select-disabled">
                        <textarea id="internalNotes-edit"
                                  class="_animate internal_Notes message-box-height"
                                  required
                                  maxlength="160" ><%= model.message %></textarea>
                            <label for="internalNotes-edit" class="_animate">Message</label>
                            <div class="counter-wrap">
                                <span class="counter-label">Characters left:</span>
                                <span class="counter-value" id="counterValue">160</span>
                            </div>
                        </div>
                        <div class="attach-container"></div>
                    </div>
                </div>
                <div class="_formRow _tipsWrap _forCheckBox _checkboxList select-disabled">
                    <label>Media Type:</label>

                    <label class="_animatedCheckbox">
                        <input id="sms-edit" class="sms" name="media" data-type="true" type="checkbox" <%= model.message != null ? checked='checked' : ''%> >
                        <span></span>
                    </label>
                    <label for="sms-edit">SMS</label>

                    <!-- <label class="_animatedCheckbox _withInfo">
                         <input id="push-edit" class="push" name="push" data-type="false" type="checkbox" checked="">
                         <span></span>
                     </label>
                     <label for="push">Push</label>-->
                </div>

            </div>
        </div>
    </form>
</div>
